{% extends 'shop/base.html' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <form class="card card-sm">
                    <div class="card-body row no-gutters align-items-center">
                        <div class="column">
                            <input type="search" name="item_name" placeholder="Search product" class="form-control form-control-borderless">
                        </div>
                        <div class="col-auto">
                            <button class="btn btn-success" type="submit">Search</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            {% for product in product_objects %}
            <div class="col-md-3">
                <div class="card">
                    <img src="{{ product.image }}" alt="{{ product.title }}" class="card-img-top">
                    <div class="card-body">
                        <div class="card-title">
                           <h6>{{ product.title }}</h6> 
                        </div>
                        <div class="card-text">
                            <strong>£{{ product.price }}</strong>
                        </div>
                        <a href="/{{ product.id }}" class="btn btn-warning">View</a>
                        <button id="{{ product.id }}" class="btn btn-warning atc">Add to Cart</button>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        
        <div class="row">
            <div class="col-md-3 offset-md-4">
                <ul class="pagination">
                    {% if product_objects.has_previous %}
                        <li class="page-item">
                            <a class='page-link btn' type="button" href="?page={{ product_objects.previous_page_number }}">Prev</a>
                        </li>
                    {% endif %}
                    <li class="page-item">
                        <a class='page-link btn' type="button" href="?page={{ product_objects.number }}">Current</a>
                    </li>
                    {% if product_objects.has_next %}
                    <li class="page-item">
                        <a class='page-link btn' type="button" href="?page={{ product_objects.next_page_number }}">Next</a>
                    </li>
                    {% endif %}
                    
                </ul>
            </div>
        </div>
    </div>
{% endblock %}

{% block extras %}
<script type="text/javascript">
    let cart; 

    if (localStorage.getItem('cart') == null) {
        cart = {};
    } else {
        cart = JSON.parse(localStorage.getItem('cart'));
    }

    $(document).on('click', '.atc', function(){
        let item_id = this.id.toString();
        console.log(item_id);

        if (cart[item_id] != undefined) {
            cart[item_id] = cart[item_id] + 1; 
        } else {
            cart[item_id] = 1;
        }
        console.log(cart);

    localStorage.setItem('cart', JSON.stringify(cart));
    document.getElementById('cart').innerHTML = `Cart(${Object.keys(cart).length})`;
});

</script>
{% endblock %}

</html>